$bgColor01: #232429;
$bgColor02: #181A20;
$bgColor03: #33353E;



$Color01: #FAFAFA;


.bg_01{
    background-color: #232429;
}

.bg_02{
    background-color: #181A20;
}

.bg_03{
    background-color: #33353E;
}


:root {
    --bs-warning-rgb: 255,215,53;
    --bs-warning: #FFD735;
    --bs-yellow: #FFD735;
}